<!DOCTYPE html>
<html>
<head>
<meta http-equiv='content-type' content='text/html; charset=utf-8' />
</head>
<body data-content="data-content">
	<h2>Edit Blogpost</h2>
	<form data-transform="blogeditform">
		<input type="hidden" name="id" value="0" data-transform="blogpostid" />
		<label for="title">Title:</label> <input type="text" name="title" value="" data-transform="blogposttitle" /><br />
		<label for="text">Text:</label> <textarea name="text" data-transform="blogposttext"></textarea><br />
		<input type="submit" value="Save" />
	</form>
</body>
</html>