<!DOCTYPE html>
<html>
<head>
<meta http-equiv='content-type' content='text/html; charset=utf-8' />
</head>
<body data-content="data-content">
	<h2>Registration</h2>
	<span class="errormessage" data-transform="errormessage"></span>
	<form data-transform="registrationform">
		<label for="email">Email: </label><input name="email" type="text" value="" data-transform="emailvalue" /><br />
		<label for="password">Password: </label><input name="password" type="password" value="" data-transform="passwordvalue" /><br />
		<label for="password2">Password Confirmation: </label><input name="password2" type="password" value="" data-transform="password2value" /><br />
		<input type="submit" value="Sign up" />
	</form>
</body>
</html>